{% extends 'mailing/base.html' %}
{% block content %}

    <div class="col-3 mb-5">
        <a class="btn btn-outline-primary" href={% url 'mailing:clients_create' %}>Добавить клиента</a>
    </div>

    <div class="container">
        <div class="row">

            {% for client in object_list %}
                <div class="col-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">{{ client.name }}</h5>
                            <p class="card-text">E-mail: {{ client.email }}</p>
                            <p class="card-text">Комментарий: {{ client.commentary }}</p>
                        </div>

                        <div class="btn-group">
                            <a href="{% url 'mailing:clients_view' client.pk %}"
                               class="btn btn-sm btn-outline-secondary">View</a>
                            {% if user == client.owner or user.is_superuser %}
                                <a href="{% url 'mailing:clients_edit' client.pk %}"
                                   class="btn btn-sm btn-outline-secondary">Edit</a>
                                <a href="{% url 'mailing:clients_delete' client.pk %}"
                                   class="btn btn-sm btn-outline-danger">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
