{% extends 'mailing/base.html' %}
{% block content %}

    <div class="col-4">
        <h5 class="card-title">Всего рассылок в сервисе - {{ mailings_count }}</h5>
        <h5 class="card-title">Всего активных рассылок - {{ active_mailings_count }}</h5>
        <h5 class="card-title">Число уникальных клиентов - {{ clients_count }}</h5>
    </div>

    <div class="container">
        <div class="row">

        {% if user.is_authenticated %}
            {% for blog in blog_list %}
                <div class="col-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">{{ blog.title }}</h5>
                            <p class="card-text">{{ blog.content }}</p>
                            {% if blog.image %}
                                <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="img-fluid mb-3">
                            {% else %}
                                <p class="card-text">Изображение не предоставлено</p>
                             {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}

        {% endif %}

        </div>
    </div>

{% endblock %}